<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286812086981-9vju4011qntbopu8pc500qlnlsibrtqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286812086981-9vju4011qntbopu8pc500qlnlsibrtqc</string>
	<key>API_KEY</key>
	<string>AIzaSyDHKqgU-D_WAEZ3mYwNcV6SASVt_rGrGBA</string>
	<key>GCM_SENDER_ID</key>
	<string>286812086981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.design</string>
	<key>PROJECT_ID</key>
	<string>flutter-design-b2d35</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-design-b2d35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286812086981:ios:42a8594b1a9688481886ac</string>
</dict>
</plist>